@model ErbiumCapstone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "SearchForJob";
}

<h1>SearchForJob</h1>

<div>
    <h2>Posted Contracting Jobs</h2>
    <hr />
    @foreach (var job in Model.PostedJobs)
    {
        <details>
            <summary><h3>@job.JobName</h3></summary>
            <p>Job Type: @job.JobType</p>
            <p>Payment: $@job.ProposedCost.ToString("0.00")</p>
            <p>Deadline: @Convert.ToDateTime(job.JobCompletion).ToString("MM/dd/yyyy")</p>
        </details>

        @if (job.ContractorAcceptedJob == false)
        {
            <form asp-action="SearchForJob" style="margin-bottom: 30px;">
                <input type="hidden" asp-for="@job.JobId" />
                <input type="submit" class="btn btn-primary" value="Submit Offer" />
            </form>
        }
        else
        {
            <div class="row">
                <p>You have already submitted an offer.</p>
                <form asp-action="SearchForJob" style="margin-bottom: 30px;">
                    <input type="hidden" asp-for="@job.JobId" />
                    <input type="submit" class="btn btn-primary" value="Retract Offer" style="display:inline; margin-left: 20px; background-color:gray;" />
                </form>
            </div>
        }
    }

</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Contractor Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/Contractor/SearchForJob"><strong>Search Jobs</strong></a>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Current Jobs</strong></a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    @foreach (Job job in Model.CurrentJobs)
                    {
                        <li>
                            <a href="#" action="CurrentJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.CurrentJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="CurrentJobs">No Current Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="CurrentJobs">All Current Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Past Jobs</strong></a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    @foreach (Job job in Model.PastJobs)
                    {
                        <li>
                            <a href="#">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PastJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PastJobs">No Past Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PastJobs">All Past Jobs</a>
                        </li>
                    }
                </ul>
            </li>
            <li>
        </ul>
    </nav>
</div>

