@model ErbiumCapstone.Models.Job

@{
    ViewData["Title"] = "Create Job";
    List<string> jobTypes = (List<string>)ViewData["jobTypes"];
    bool provideUpdates = false;
}

<h1>Create New Job</h1>
<div>  </div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateJob">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobName"></label>
                <input asp-for="JobName" class="form-control" />
                <span asp-validation-for="JobName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobType"></label>
                <select asp-for="JobType" class="form-control" asp-items="new SelectList(jobTypes)"></select>
                <span asp-validation-for="JobType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProposedCost"></label>
                <input asp-for="ProposedCost" class="form-control" />
                <span asp-validation-for="ProposedCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobStart"></label>
                <input asp-for="JobStart" type="date" value="DateTime.Today" class="form-control" />
                <span asp-validation-for="JobStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobCompletion"></label>
                <input asp-for="JobCompletion" type="date" value="DateTime.Today" class="form-control" />
                <span asp-validation-for="JobCompletion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvideUpdates"></label>
                <input id="radio-update" type="radio" asp-for="ProvideUpdates" value="true" class="form-control" />
                <span asp-validation-for="ProvideUpdates" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProvidePix"></label>
                <input id="radio-pic" type="radio" asp-for="ProvidePix" value="true" class="form-control" />
                <span asp-validation-for="ProvidePix" class="text-danger"></span>
            </div>
            <script>
                if (document.getElementById("radio-update").checked == true) {
                    @{
                        provideUpdates = true;
                            }
                }
            </script>
            @if (provideUpdates == true)
            {
                <div class="form-group">
                    <label asp-for="NumberOfUpdates"></label>
                    <input asp-for="NumberOfUpdates" class="form-control" />
                    <span asp-validation-for="NumberOfUpdates" class="text-danger"></span>
                </div>
            }

            <div class="form-group">
                <input type="submit" value="Create Job" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/Customers/CreateJob"><strong>Create Job</strong></a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Posted Jobs</strong></a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    @foreach (Job job in Model.PostedJobs)
                    {
                        <li>
                            <a href="#" action="PostedJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PostedJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PostedJobs">No Posted Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PostedJobs">All Posted Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Current Jobs</strong></a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    @foreach (Job job in Model.CurrentJobs)
                    {
                        <li>
                            <a href="#" action="CurrentJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.CurrentJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="CurrentJobs">No Current Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="CurrentJobs">All Current Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Past Jobs</strong></a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    @foreach (Job job in Model.PastJobs)
                    {
                        <li>
                            <a href="#">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PastJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PastJobs">No Past Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PastJobs">All Past Jobs</a>
                        </li>
                    }
                </ul>
            </li>
            <li>
        </ul>
    </nav>
</div>