
@model ErbiumCapstone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Current Jobs";
}

<h1>Current Jobs</h1>

<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model.CurrentJobs)
        { 
        <details>
            <summary><h3>@Html.DisplayFor(modelItem => item.JobName)</h3></summary>
            <h4>@Html.DisplayFor(modelItem => item.Contractor.ContractorId)</h4>
            <h4>@Html.DisplayFor(modelItem => item.AgreedCost)</h4>
            <h4>@Html.DisplayFor(modelItem => item.JobStart)</h4>
            <h4>@Html.DisplayFor(modelItem => item.DeadLine)</h4>
           
            <h4>@Html.DisplayFor(modelItem => item.Contractor.ContractorId)</h4>
        </details>
        }
    </div>
</div>