
@model IEnumerable<ErbiumCapstone.Models.Job>

@{
    ViewData["Title"] = "Current Jobs";
}

<h1>Current Jobs</h1>

<div class="row">
    <div class="col-md-4">
        @foreach (var item in Model)
        { 
        <details>
            <summary><h3>@Html.DisplayFor(modelItem => item.JobName)</h3></summary>
            <h4>@Html.DisplayFor(modelItem => item.Contractor.ContractorId)</h4>
            <h4>@Html.DisplayFor(modelItem => item.AgreedCost)</h4>
            <h4>@Html.DisplayFor(modelItem => item.JobStart)</h4>
            <h4>@Html.DisplayFor(modelItem => item.DeadLine)</h4>
           
            <h4>@Html.DisplayFor(modelItem => item.Contractor.ContractorId)</h4>
        </details>
        }
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Current Jobs</a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posted Jobs</a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    <li>
                        <a href="#">Posted Job 1</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 2</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Current Jobs</a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    <li>
                        <a href="#">Current Job 1</a>
                    </li>
                    <li>
                        <a href="#">Current Job 2</a>
                    </li>
                    <li>
                        <a href="#">Current Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Past Jobs</a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    <li>
                        <a href="#">Past Job 1</a>
                    </li>
                    <li>
                        <a href="#">Past Job 2</a>
                    </li>
                    <li>
                        <a href="#">Past Job 3</a>
                    </li>
                </ul>
            </li>
            <li>
        </ul>

    </nav>
</div>