
@model ErbiumCapstone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Current Jobs";
}

<h1>Home</h1>
<div class="container">
    <div class="row">
        <div class="col-4">
            <h4>Posted jobs: @Model.PostedJobs.Count</h4>
        </div>
        <div class="col-4">
            <h4>Current jobs: @Model.CurrentJobs.Count</h4>
        </div>
        <div class="col-4">
            <h4>Past jobs: @Model.PastJobs.Count</h4>
        </div>
    </div>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/Customers/CreateJob"><strong>Create Job</strong></a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Posted Jobs</strong></a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    @foreach (Job job in Model.PostedJobs)
                    {
                        <li>
                            <a href="#" action="PostedJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PostedJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PostedJobs">No Posted Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PostedJobs">All Posted Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Current Jobs</strong></a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    @foreach (Job job in Model.CurrentJobs)
                    {
                        <li>
                            <a href="#" action="CurrentJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.CurrentJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="CurrentJobs">No Current Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="CurrentJobs">All Current Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Past Jobs</strong></a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    @foreach (Job job in Model.PastJobs)
                    {
                        <li>
                            <a href="#">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PastJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PastJobs">No Past Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PastJobs">All Past Jobs</a>
                        </li>
                    }
                </ul>
            </li>
            <li>
        </ul>
    </nav>
</div>