@model ErbiumCapstone.Models.Job

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>Completed Jobs</h4>
    <hr />
    <form asp-action="GetPastJobs">
        <div>

            <label> Completed Jobs </label>
            <select name="" asp-items="ViewBag.GetPastJobs"></select>

        </div>
    </form>
    <div>
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JobName)
            </dd>
        </dl>
    </div>
    <div style="float: left">
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Contractor)
            </dt>
        </dl>
    </div>
    <div style="float: right">
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AgreedCost)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AgreedCost)
            </dd>
        </dl>
    </div>

    <div>
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ProvidePix)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ProvidePix)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JobCompletion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JobCompletion)
            </dd>
        </dl>
    </div>

    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobType)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>



        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobStart)
        </dd>


    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Create Job</a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posted Jobs</a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    <li>
                        <a href="#">Posted Job 1</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 2</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Current Jobs</a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    <li>
                        <a href="#">Current Job 1</a>
                    </li>
                    <li>
                        <a href="#">Current Job 2</a>
                    </li>
                    <li>
                        <a href="#">Current Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Past Jobs</a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    <li>
                        <a href="#">Past Job 1</a>
                    </li>
                    <li>
                        <a href="#">Past Job 2</a>
                    </li>
                    <li>
                        <a href="#">Past Job 3</a>
                    </li>
                </ul>
            </li>
            <li>
        </ul>

    </nav>
</div>