
@model ErbiumCapstone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "Current Jobs";
}

<h1>Posted Jobs</h1>

<div class="row">
    <div class="col-md-4">
        @if (ViewBag.jobSelected == true)
        {
        <details>
            <summary><h3>@Model.ClickedJob.JobName</h3></summary>
            <h4><b>JobType: </b>@Model.ClickedJob.JobType</h4>
            <h4><b>Cost: </b>$@Model.ClickedJob.ProposedCost.ToString("0.00")</h4>
            <h4><b>Start Date: </b>@Model.ClickedJob.JobStart</h4>
            <h4><b>Deadline: </b>@Model.ClickedJob.DeadLine</h4>
            <h3><b>Description: </b>@Model.ClickedJob.Description</h3>
            <h3><b>Provide Updates: </b>@Model.ClickedJob.ProvideUpdates</h3>
            <h3><b>Provide Pictures: </b>@Model.ClickedJob.ProvidePix</h3>
            <h3><b>Number Of Updates: </b>@Model.ClickedJob.NumberOfUpdates</h3>
        </details>
        }
        else
        {
            @foreach (var job in Model.PostedJobs)
            {
             <details>
                <summary><h3>@job.JobName</h3></summary>
                <h4><b>JobType: </b>@job.JobType</h4>
                <h4><b>Cost: </b>: $@job.ProposedCost.ToString("0.00")</h4>
                <h4><b>Start Date: </b>@Convert.ToDateTime(job.JobStart).ToString("mm/dd/yyyy")</h4>
                <h4><b>Deadline: </b>@Convert.ToDateTime(job.DeadLine).ToString("mm/dd/yyyy")</h4>
                <h3><b>Description: </b>@job.Description</h3>
                <h3><b>Provide Updates: </b>@job.ProvideUpdates</h3>
                <h3><b>Provide Pictures: </b>@job.ProvidePix</h3>
                <h3><b>Number Of Updates: </b>@job.NumberOfUpdates</h3>
             </details>
             <form asp-action="EditJob" style="margin-bottom: 25px;">
                 <input type="hidden" asp-for="@job.JobId" />
                 <input value="Edit Job" type="submit" />
             </form>
                 @if (job.ContractorAcceptedJob)
                 {
                    <form asp-action="PostedJobs" style="margin-bottom: 35px;">
                        <input type="hidden" asp-for="@job.JobId"/>
                        <input type="submit" value="Accept Job"/>
                    </form>
                 }
                                            }
                                        }
                                    </details>
                                }
                            }*@
                    </details>

                </details>
            }
        }

    </div>
</div>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="/Customers/CreateJob"><strong>Create Job</strong></a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Posted Jobs</strong></a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    @foreach (Job job in Model.PostedJobs)
                    {
                        <li>
                            <a href="#" action="PostedJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                            @*<a asp-action="PostedJobs" asp-route-jobid="@job.JobId">No Posted Jobs</a>*@
                        </li>
                    }
                    @if (Model.PostedJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PostedJobs">No Posted Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PostedJobs">All Posted Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Current Jobs</strong></a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    @foreach (Job job in Model.CurrentJobs)
                    {
                        <li>
                            <a href="#" action="CurrentJobs" method="GET" route-id="@job.JobId">@job.JobName</a>
                        </li>
                    }
                    @if (Model.CurrentJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="CurrentJobs">No Current Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="CurrentJobs">All Current Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Past Jobs</strong></a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    @foreach (Job job in Model.PastJobs)
                    {
                        <li>
                            <a href="#">@job.JobName</a>
                        </li>
                    }
                    @if (Model.PastJobs.Count == 0)
                    {
                        <li>
                            <a asp-action="PastJobs">No Past Jobs</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-action="PastJobs">All Past Jobs</a>
                        </li>
                    }
                </ul>
            </li>

            <li>
                <a href="#Chat" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><strong>Chat</strong></a>
                <ul class="collapse list-unstyled" id="Chat">
                    <li>
                        <div class="container">
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-4"><input style="display:none" type="text" id="userInput" value="@Model.Customer.FirstName" /></div>
                            </div>
                            <div class="row">
                                <div>Message</div>
                                <div><input type="text" id="messageInput" /></div>
                            </div>
                            <div class="row">&nbsp;</div>
                            <div class="row">
                                <div class="col-6">
                                    <input type="button" id="sendButton" value="Send Message" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                            <div>
                                <ul id="messagesList"></ul>
                            </div>
                        </div>
                        <script src="~/js/signalr/dist/browser/signalr.js"></script>
                        <script src="~/js/chat.js"></script>
                    </li>
                </ul>
            </li>
            <li>
        </ul>
    </nav>
</div>