@model ErbiumCapstone.ViewModels.HomeViewModel

@{
    ViewData["Title"] = "PostedJobs";
}

<h1>PostedJobs</h1>

<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewData["JobSelected"].Equals(true))
        {
            <tr>
                <td>
                    @Model.ClickedJob.JobName)
                </td>
                <td>
                    @Model.ClickedJob.JobType)
                </td>
                <td>
                    @Model.ClickedJob.Description)
                </td>
                <td>
                    @Model.ClickedJob.ProposedCost)
                </td>
                <td>
                    @Model.ClickedJob.AgreedCost)
                    <h4>@Model.ClickedJob.AgreedCost)</h4>

                </td>
                <td>
                    @Model.ClickedJob.DeadLine)
                </td>
                <td>
                    @Model.ClickedJob.JobStart)
                </td>
                <td>
                    @Model.ClickedJob.JobCompletion)
                </td>
                <td>
                    @Model.ClickedJob.isJobCompletionApproved)
                </td>
                <td>
                    @Model.ClickedJob.JobState)
                </td>
                <td>
                    @Model.ClickedJob.ProvideUpdates)
                </td>
                <td>
                    @Model.ClickedJob.ProvidePix)
                </td>
                <td>
                    @Model.ClickedJob.NumberOfUpdates)
                </td>
                <td>
                    @Model.ClickedJob.CustomerAcceptedJob)
                </td>
                <td>
                    @Model.ClickedJob.ContractorAcceptedJob)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@Model.ClickedJob.JobId">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@Model.ClickedJob.JobId">Delete</a>
                </td>
            </tr>
        }
        else
        {
            @foreach (var job in Model.PastJobs)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => job.JobName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.JobType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.ProposedCost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.AgreedCost)
                        <h4>@Html.DisplayFor(modelItem => job.AgreedCost)</h4>

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.DeadLine)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.JobStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.JobCompletion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.isJobCompletionApproved)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.JobState)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.ProvideUpdates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.ProvidePix)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.NumberOfUpdates)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.CustomerAcceptedJob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => job.ContractorAcceptedJob)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@job.JobId">Edit</a> |
                        <a asp-action="Delete" asp-route-id="@job.JobId">Delete</a>
                    </td>
                </tr>
            }
        }

    </tbody>
</table>

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h5>Customer Portal</h5>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">Create Job</a>
            </li>

            <li class="active">
                <a href="#interestSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Posted Jobs</a>
                <ul class="collapse list-unstyled" id="interestSubmenu">
                    <li>
                        <a href="#">Posted Job 1</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 2</a>
                    </li>
                    <li>
                        <a href="#">Posted Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#currentSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Current Jobs</a>
                <ul class="collapse list-unstyled" id="currentSubmenu">
                    <li>
                        <a href="#">Current Job 1</a>
                    </li>
                    <li>
                        <a href="#">Current Job 2</a>
                    </li>
                    <li>
                        <a href="#">Current Job 3</a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="#pastSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Past Jobs</a>
                <ul class="collapse list-unstyled" id="pastSubmenu">
                    <li>
                        <a href="#">Past Job 1</a>
                    </li>
                    <li>
                        <a href="#">Past Job 2</a>
                    </li>
                    <li>
                        <a href="#">Past Job 3</a>
                    </li>
                </ul>
            </li>
            <li>
        </ul>

    </nav>
</div>
